.App {
  text-align: center;
  font-size: 30px;
}

.App-phrase {
  margin: 50px 0 80px 0;
}

.App-lettres {
  margin: 30px auto;
  width: calc(13 * (50px + 8px));
}

.App-buttonRejouer {
  line-height: 80px;
  padding: 0 30px;
  font-size: 50px;
}

.App-buttonLettre {
  box-sizing: border-box;
  width: 50px;
  padding: 0 10px;
  margin: 2px 4px;
  font-size: 30px;
}

.App-lettreTrouvee {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  background: lightgray;
  text-align: center;
  border: 1px gray solid;
  padding: 0 2px;
  margin: 2px 4px;
  cursor: not-allowed; 
}

.App-espaceBlanc {
  padding: 0 10px;
}

.App-lettre {
  padding: 0 2px;
  margin: 0 4px;
}